<%= render 'shared/page_title', title: "Showing all Chefs" %>

<div align="center">
	<%= will_paginate %>
	<% @chefs.each do |chef| %>
		<ul class="listing">
			<div class="row">
				<div class="well col-md-4 offset-md-4">
					<li> <%= link_to avatar_image(chef), chef_path(chef) %></li>
					<li class="chef-title"> <%= link_to chef.chefname.capitalize, chef_path(chef) %></li>
					<li><small><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></small></li>
					<li><%= link_to "Delete chef", chef_path(chef), method: :delete, data: {confirm: "Are you sure you want to delete this chef?"}%></li>
				</div>
			</div>
		</ul>
	<% end %>
	<%= will_paginate %>
</div>